{% extends "base/index.html" %}

{% block title %} User Profile {% endblock %}

{% block content %}
{% if user.is_authenticated %}

  {{text}}

  <div class="row">

    <div class="col-sm-4">
        <div class="container-fluid">
            <h1>Beacons</h1>

            {% include "base/beacons_loop.html" %}

        </div>
    </div>

    <div class="col-sm-8  ">
        <div class="container-fluid">
          <h1>Map</h1>
          <div id="googleMap" style="height:400px;"></div>
        </div>
    </div>

  </div>

{% else %}
        What did you left here that you are searching for?
{% endif %}
{% endblock %}
