{% extends "base/index.html" %}

{% block title %} Locations {% endblock %}

{% block content %}
{{text}}
<div class="row">
    <div class="col-md-4">
        <div class="container-fluid">
            <h1>Beacons</h1>
            <div class="list-group">
              <a href="#" class="list-group-item">First item</a>
              <a href="#" class="list-group-item">Second item</a>
              <a href="#" class="list-group-item">Third item</a>
          </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container-fluid">
          <h1>Map</h1>
          <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>
    </div>
</div>



<script defer>
let map;

function initMap() {
  const map_center = new google.maps.LatLng(42.8251229,25.4928315)

  const map_prop= {
    center: map_center,
    zoom:15,
  };
  // Create the map
  const map = new google.maps.Map(document.getElementById("googleMap"),map_prop);

  const marker = new google.maps.Marker({
      position: map_center,
      map: map,
  });
}

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD0zfmYM1Qqnh4Bdfq4C1nX-Wk5f8HqjQ&callback=initMap"></script>

{% endblock %}
