{% extends "beacons/base.html" %}

{% block title %} Lid a Beacon {% endblock %}

{% load static %}

{% block scripts_head %} 
<script src="{% static "js/gmap.js" %}"></script>   
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
      <div class="container-fluid">

        <form action="{% url 'beacons:add' %}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }} {{ field }}
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </div>
            {% endfor %}
            
            <input id="address" type="textbox" value="Plovdiv, Bulgaria" />
            <input id="geocode" type="button" value="Geocode" />

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

        {% if form.subject.errors %}
            <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}

      </div>
    </div>

    <div class="col-sm-8">
        <div class="container-fluid">
          <h1>Map</h1>
          <div id="map" style="height:400px;"></div>
        </div>
    </div>

</div>
{% endblock %}

