{% extends "beacons/base.html" %}

{% block title %} Details {% endblock %}

{% load static %}

{% block scripts_head %} 
<script src="{% static "js/gmap.js" %}"></script>   
{% endblock %}

{% block content_left %}

  <div class="container-fluid">
    <form action="{% url 'beacons:update' %}" method="POST" class="form-horizontal">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
        {% endfor %}
        <input type="hidden" id="beacon_id" name="beacon_id" value={{beacon_id}}>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="_submit" value="submit">Submit</button>
          <button type="submit" class="btn btn-danger" name="_delete" value="delte">Delete</button>
        </div>

    </form>

    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
  </div>

{% block content_right %}

  <div class="container-fluid">
    <div id="map" style="height:400px;"></div>
  </div>

{% endblock %}

{% block scripts_body %}

  <script defer>

    function initMap() {
      initMapTemplate( new google.maps.LatLng( {{beacon.latitude}}, {{beacon.longitude}}) , "map");
    }

  </script>

{% endblock %}
