{% extends "base/index.html" %}

{% block title %} Update Beacon {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
      <div class="container-fluid">

        <form action="{% url 'beacons:update' %}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }} {{ field }}
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </div>
            {% endfor %}
            <input type="hidden" id="beacon_id" name="beacon_id" value={{beacon_id}}>
            <button type="submit" class="btn btn-primary" name="_submit" value="submit">Submit</button>
            <button type="submit" class="btn btn-danger" name="_delete" value="delte">Delete</button>

        </form>

        {% if form.subject.errors %}
            <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}


      </div>
    </div>

    <div class="col-sm-8">
        <div class="container-fluid">
          <h1>Map</h1>
          <div id="googleMap" style="height:400px;"></div>
        </div>
    </div>
</div>

<script defer>
let map;

function initMap() {
  const map_center = new google.maps.LatLng({{beacon.longitude}}, {{beacon.longitude}} )

  const map_prop= {
    center: map_center,
    zoom:15,
  };
  // Create the map
  const map = new google.maps.Map(document.getElementById("googleMap"),map_prop);

  const marker = new google.maps.Marker({
      position: map_center,
      draggable:true,
      map: map,
  });
}

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvbgILGvzWiIFiv1P2aS8ygpO2VTvIqhs&callback=initMap"></script>

{% endblock %}
