{% extends "beacons/base.html" %}

{% block title %} Beacons {% endblock %}

{% load static %}

{% block scripts_head %} 
<script src="{% static "js/gmap.js" %}"></script>   
{% endblock %}

{% block content_left %}
    <div class="container-fluid">
        {% include "base/beacons_loop.html" %}
    </div>
{% endblock %}

{% block content_right %}

    <div class="container-fluid">
        <div id="map" style="height:400px;"></div>
    </div>
{% endblock %}

{% block scripts_body %}

    <script defer>
        function initMap() {
            /*
            * First marker coordinates
            */
            var beacon_markers = []

            {% for beacon in beacons %}
                beacon_markers.push({
                    LatLong : new google.maps.LatLng( {{ beacon.latitude|safe }},  {{ beacon.longitude|safe }}),
                    id : "beacon" + {{ beacon.id|safe }} 
                })
            {% endfor %}
            map = initMapTemplate(beacon_markers,  "map", false, false, false , 5);

        }
    </script>

{% endblock %}
